@model Github2Wandbox.ViewModels.GenerateViewModel
@{
    ViewData["Title"] = "Generated";
}

<div class="text-center">
    <h1 class="display-4">Link generated</h1>
    <p>Go to</p>
    <p><a href="@Model.Url">@Model.Url</a></p>
    <p>or copy the link:</p>
    <input size="135" value="@Model.Url" readonly />
</div>
