@model Github2Wandbox.ViewModels.GenerateViewModel
@{
    ViewData["Title"] = "Generated";
}

<div class="text-center">
    <h1 class="display-4">Success</h1>
    <p>The GitHub folder has been transfered to Wandbox.</p>
    <p>Go to <a href="@Model.Url">@Model.Url</a> or copy the link.</p>
    <input value="@Model.Url" readonly />
</div>
