@model Github2Wandbox.ViewModels.OptionsViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This site opens all files from directory published
    to <a href="https://github.com" target="_blank">GitHub</a>
    in <a href="https://wandbox.org" target="_blank">Wandbox</a>.</p>
    <form asp-controller="Home" asp-action="Generate" method="post">
        <label asp-for="owner"></label>
        <input asp-for="owner" />
        <label asp-for="repository"></label>
        <input asp-for="repository" />
        <label asp-for="main_path"></label>
        <input asp-for="main_path" />
        <select asp-for="compiler_standard">
            <option value="c++2a">C++20</option>
            <option value="gnu++1y">GNU C++14</option>
        </select>
        <button type="submit">Open in Wandbox</button>
    </form>
</div>
